<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<title>Music Genre Classifier</title>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


<style>
* {
  box-sizing: border-box;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}



.btn{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=text] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.form-group {
  padding-left: 2cm;
}
</style>



      
</head>

<body >
 <div class="music">
	<h1 style="background-color:powderblue; text-align: center;font-family: Sofia;font-size: 50px;" ><br>Classify Music Genre <br><br></h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form method="POST" action="/predict">
            <div class="form-group">
                    <label for="acousticness">Acousticness</label>
                    <input type="acousticness" class="form-control" style="width:470px;" id="acousticness" name="acousticness" placeholder="Example: 0.416675" required>
                </div>
                <div class="form-group">
                    <label for="danceability">Danceability</label>
                    <input type="danceability" class="form-control" style="width:470px;" id="danceability" name="danceability" placeholder="Example: 0.675894" required>
                </div>
                <div class="form-group">
                    <label for="energy">Energy</label>
                    <input type="energy" class="form-control" style="width:470px;" id="energy" name="energy" placeholder="Example: 0.634476" required>
                </div>
                <div class="form-group">
                    <label for="instrumentalness">Instrumentalness</label>
                    <input type="instrumentalness" class="form-control" style="width:470px;" id="instrumentalness" name="instrumentalness" placeholder="Example: 0.010628" required>
                </div>
                <div class="form-group">
                    <label for="liveness">Liveness</label>
                    <input type="liveness" class="form-control" style="width:470px;" id="liveness" name="liveness" placeholder="Example: 0.177647" required>
                </div>
                <div class="form-group">
                    <label for="speechiness">Speechiness</label>
                    <input type="speechiness" class="form-control" style="width:470px;" id="speechiness" name="speechiness" placeholder="Example: 0.159310" required>
                </div>
                <div class="form-group">
                    <label for="tempo">Tempo</label>
                    <input type="tempo" class="form-control" style="width:470px;" id="tempo" name="tempo" placeholder="Example: 165.922" required>
                </div>
                <div class="form-group">
                    <label for="valence">Valence</label>
                    <input type="valence" class="form-control" style="width:470px;" id="valence" name="valence" placeholder="Example: 0.576661" required>
                </div>
        

        <center><button type="submit" class="btn ">Predict</button></center>
        
    </form>

   <br>
   <br>
    <div class="prediction text-center">
            <h2 class="display-6 text-center">Music Type : {{pred_name}}</h2>
            <br><br><br>
    </div>


</body>
</html>
